.form-group .control-label {
  font-size: 15px;
}

.checkbox input {
  width: 20px;
  height: 20px;
}

.checkbox span {
  padding-left: 15px;
  position: relative;
  top: -4px;
}

.radio-block {
  display: flex;
  justify-content: space-between;
}

.radio-control {
  width: 25px;
  height: 25px;
}

.checkbox {
  display: flex;
  justify-content: space-between;
}

.title, .textfield, .numberfield, .textarea, .datefield, .radio, .button, .checkbox {
  margin: 1rem 0;
}
